.mybox{
  display: flex;
  justify-content: space-evenly;
 padding: 20px 0;
}
.card{
    display: flex;
    flex-direction: row;
    width: 40rem;
    margin: 30px 0;
    background-color: rgba(0,0,0,.87);
    color: white;
    box-shadow: 0 9px 20px rgba(0,0,0,0.3), 0 2px 7px rgba(0,0,0,.87) ;
}
.card img{
    width: 40%;
}
.btn{
    background-color: #f56a6a;
    border: none;
}
.btn:hover{
    background-color: #fa7c7c;
    transition: 0.3s ease;
}
@media only screen and (max-width:1355px) {
    .card{
        width: 30rem;
    }
}
@media only screen and (max-width:1035px) {
    .mybox{
        flex-direction: column;
    }
    .card{
        margin: 0;
        width: 40rem;
    }
    .card img{
        width: 50%;
    }
    #box1 div{
        margin: 20px auto 20px auto;
    }
    #box2 div{
        margin: 0px auto 20px auto;
    }
}
@media only screen and (max-width:700px){
    .card{
        width: 95%;
    }
}
@media only screen and (max-width:565px){
    .card{
        flex-direction: column;
        width: 75%;
    }
    .card img{
        width: 100%;
    }
}
@media only screen and (max-width:400px){
    .card{
        flex-direction: column;
        width: 85%;
    }
}